body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 30px;
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}

thead {
    background-color: #f2f2f2;
}

td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}

.tc {
    text-align: center;
}

.prs {
    padding-right: 10px;
}